---
import BottomNavigationItem from "./BottomNavigationItem.astro";
---

<nav
  class:list={[
    "fixed bottom-0 w-full bg-muted text-muted-foreground shadow-lg z-50",
    "md:max-w-[30rem] md:start-1/2 md:translate-x-[-50%] md:px-8 md:rounded-lg md:my-4",
  ]}
>
  <ul class="flex w-full h-full">
    <BottomNavigationItem
      label="Play"
      path="/"
      icon="i-heroicons-play"
      activeIcon="i-heroicons-play-16-solid"
    />
    <BottomNavigationItem
      label="Stats"
      path="/stats"
      icon="i-heroicons-chart-pie"
      activeIcon="i-heroicons-chart-pie-16-solid"
    />
    <BottomNavigationItem
      label="Help"
      path="/help"
      icon="i-heroicons-question-mark-circle"
      activeIcon="i-heroicons-question-mark-circle-16-solid"
    />
    <BottomNavigationItem
      label="Config"
      path="/config"
      icon="i-heroicons-cog"
      activeIcon="i-heroicons-cog-16-solid"
    />
  </ul>
</nav>
